<!-- div data-role="footer" data-position="fixed" data-fullscreen="true" data-theme="b" class="ui-bar" -->
<div data-role="footer" data-position="fixed" class="ui-bar">
        <a href="/rent/index.php/mypage" class="ui-btn ui-btn-a">MY</a>
        <a href="/rent/index.php/menu_list" class="ui-btn ui-btn-a">貸リル</a>
        <a href="/rent/index.php/lend_list" class="ui-btn ui-btn-a">貸　ス</a>
        <a href="about.html" class="ui-btn ui-btn-a"><i class="fa fa-cog"></i></a>
    </div>
</div>
</body>
</html>