<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<meta name="robots" content="noindex">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="../css/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../js/jquery.mobile-1.4.5.min.css" />
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/jquery.mobile-1.4.5.min.js"></script>
<title>レンタル2</title>
</head>
<body>
<!--初期アクセスで表示されるページ-->
<div id="home" data-role="page">
<!--
    < div data-role="header">
    <h2>Shere System</h2>
  </div>
-->
    <div id="message">{$message}</div>