{include file="header.html" _css="page" _js="page"}
<form action="/rent/index.php/mail/send" method="post"><input type="hidden" name="mode" value="email_regist" />
<input type="file" accept="image/*;capture=camera">
    <table id="tbl_setA"><caption>メールアドレス登録フォーム</caption>
    <tr>
      <td class="item">E-mail：</td>
      <td><input type="text" name="email"  value="{$email}"/></td>
      <td><input type="submit" name="submit" value="送信" /></td>
    </tr>
  </table>
</form>
{include file="footer.html"}